* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: dela;
    src: url(./src/fonts/delagothic_regular.ttf);
}

@font-face {
    font-family: mont;
    src: url(./src/fonts/Montserrat-Regular.ttf);
}

body {
    display: flex;
    justify-content: center;    
}

#main_container {
    width: 1920px;
}

/* .navbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F5F4;
    box-shadow: inset 0px -1px 0px #E0E0E0;
    width: 100%;
    height: 84px;
}

.nav_box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1180px;
    height: 36px;
}

.main_nav>nav {
    font-family: mont;
    font-size: 16px;

}

.main_nav {
    display: flex;
    justify-content: space-between;
    width: 540px;
    height: 22px;
    margin-left: 30px;
}

.main_nav>.global {
    
    width: 130px;

    margin-right: 30px;
}

.global>span {
    font-family: dela;
    font-size: 20.8609px;
}

.v1 {
margin-right: 30px;
}

.nav_content>ul {
    display: flex;
    justify-content: left;
    gap: 30px;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

.dropdown>button {
    background-color: transparent;
    border-color: transparent;
}

.lgn_span>span {
    font-family: mont;
    font-size: 14px;
}

.sgn_btn {
    margin-left: 21px;
}

.sgn_btn>button {
    font-family: mont;
    font-size: 14px;
    color: #FFFFFF;

    width: 90px;
    height: 36px;
    background: #2B788B;
    border-radius: 12px;
    border-color: transparent;
}

.dropdown-content>a {
    font-family: mont;
    font-size: 16px;
    color: #828282;
}  */

.section1 {
    display: flex;
    justify-content: center;
    background-color: #F6F5F4;

    padding-top: 94.61px;
    padding-bottom: 135px;

}

.e-course_header {
    font-family: mont;
    font-size: 16px;
    letter-spacing: 0.14em;
    color: #2B788B;
}

/* .section1>span {
    font-family: mont;
    letter-spacing: 0.14em;
    font-size: 16px;
    color: #2B788B;
} */

.h1>h1 {
    font-family: dela;
    font-weight: 400;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #000000;

    margin-top: 24px;
    margin-bottom: 30px;

}

/* 
.h1 {
    font-family: dela;
    font-size: 56px;
    letter-spacing: -0.04em;
    color: #000000;
} */

p {
    font-family: mont;
    font-size: 18px;
    letter-spacing: -0.04em;
    color: #757575;
}

.about_btn {
    margin-top: 32px;
    margin-bottom: 48.78px;
}

.about_btn>button {
    font-family: mont;
    font-size: 16px;
    letter-spacing: -0.04em;
    color: #2B788B;
    background: #C3DCE3;
    border-color: transparent;
    border-radius: 100px;
    padding: 14px 22px;
}

.vector1 {
    display: flex;
}

.vector1-1 {
    display: block;
}

.popular>span {
    font-family: mont;
    font-weight: 600;
font-size: 16px;
line-height: 140%;
letter-spacing: -0.04em;
color: #585858;
}

.mini_game>span {
    font-family: mont;
    font-weight: 600;
font-size: 16px;
line-height: 140%;
letter-spacing: -0.04em;
color: #585858;
}

.vector1-2 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.lighting {
    margin-right: 10px;
}

.v2 {
    margin-left: 48.78px;
    margin-right: 48.78px;
}

.domino {
    margin-right: 13.05px;
}

.img {
    width: 614px;
    height: 510px;
}

.section2 {
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin-top: 77.5px; */

    background-color: #FFFFFF;

    padding-top: 77.5px;
    padding-bottom: 77.5px;
}

.section2 .img2 {
    width: 580px;
    height: 445px;
}

.section2_container {
    display: flex;
    flex-direction: column;
}

.section2_container>h1 {
    font-family: dela;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;

    margin-top: 44px;
    margin-bottom: 30px;
}



.section2_container>span {
    font-family: mont;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
}

.empty_div {
    background-color: #F2D4DC;
    width: 129px;
    height: 112px;
    border-radius: 14px;

    margin-right: 21.1px;
}



.empty_div1 {
    width: 172px;
    height: 112px;
    background-color: #C3DCE3;
    border-radius: 14px;

}

#girl {
    margin-top: 30.5px;
    display: flex;
}

.section3 {
    background-color: #F6F5F4;
    width: 100%;
    display: flex;
    justify-content: center;
}

.section3_container {
    margin-top: 136.01px;
}

.section3_container>h1 {
    font-family: dela;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;

    margin-bottom: 30px;
}

.section3_container>span {
    font-family: mont;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
}

.section3_btn>button {
    width: 131px;
    height: 44px;
    background: #C3DCE3;
    border-color: transparent;
    border-radius: 100px;

    font-family: mont;
    color: #2B788B;
    letter-spacing: -0.04em;
    font-size: 16px;

    margin-top: 34px;
}

.img3 {
    margin-top: 26.03px;
}

.section4 {
    width: 100%;
    display: flex;
    justify-content: center;

    background-color: #FFFFFF;

    padding-top: 95.37px;
    padding-bottom: 95.37px;

    padding-left: 370px;
    padding-right: 370px;
}

.section4_img {
    margin-right: 20px;

}

.section4_container {
    width: 474.46px;
}

.section4_container>h1 {
    font-family: dela;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;

    margin-bottom: 30px;
}

.section4_container>span {
    font-family: mont;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;

}

.section4_btn>button {
    width: 129px;
    height: 44px;
    background: #C3DCE3;
    border-radius: 100px;

    border-color: transparent;

    font-family: mont;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #2B788B;
    letter-spacing: -0.04em;

    margin-top: 34px;
}

.footer {
    background-color: #F6F5F4;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 370px;    
    padding-right: 370px;
}

hr {
    margin-top: 20px;
}

footer>.ftr_maindiv1 {
    display: flex;
    justify-content: space-between;
}

.ftr_maindiv2 {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
}

.icon_box {
    display: flex;
    justify-content: space-between;
    width: 150px;
    display: flex;
}

.copyright>span {
    font-family: mont;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    color: #757575;

}

.ftr_div1 {
    width: 414px;
    height: 14px;

    display: flex;
    justify-content: space-between;
}

.ftr_div2 {
    width: 197px;
    display: flex;
    justify-content: space-between;
}

.author {
    font-family: mont;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #757575;
}